<h2>Lista de Contatos</h2>
<button routerLink="/form-contato">Adicionar Novo Contato</button>

<div *ngIf="contatos.length > 0; else noContacts">
  <ul>
    <li *ngFor="let contato of contatos">
      <div>
        <a [routerLink]="['/detalhe-contato', contato.id]">
          <h3>{{ contato.nome }}</h3>
        </a>
        <p>Telefone: {{ contato.telefone }}</p>
        <p>Email: {{ contato.email }}</p>
      </div>
      <div>
        <button (click)="editarContato(contato.id)">Editar</button>
        <button (click)="deletarContato(contato.id)">Deletar</button>
      </div>
    </li>
  </ul>
</div>

<ng-template #noContacts>
  <p>Nenhum contato encontrado. Adicione um novo!</p>
</ng-template>